.videosec {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}



video {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.videooverlay {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgba(29, 29, 29, 0.602);
    z-index: 5;
    height: 50vh;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    video, .videooverlay {
        margin-top: 30px;
    }
}